/* font-family: 'Open Sans', sans-serif;
font-family: 'Tinos', serif; */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .wrapper{
      max-width: 768px;
    }
  }

  @media (max-width: 320px) {
    .wrapper{
      max-width: 320px;
    }
  }

  /* section {
    padding: 80px 40px 100px 40px;
  } */

  .radial-background {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  }

  /*Header styles start */
  .header {
    width: 100%;
    top: 0;
    left: 0;
  }
    

  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
  }

  .header__logo {
      display: flex;
      flex-direction: column;
  }

  .header__logo--main {
    font-family: 'Tinos', serif;
    font-size: 32px;
    color: #F1CDB3;
    font-weight: 400;
    letter-spacing: 0.09em;
    line-height: 110%;
    padding-bottom: 10px;
  }

  .header__logo--sub {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 100;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-left: 4px;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 443px;
    list-style: none;
  }
  
  .header__item:last-child {
    margin-right: 0
  }
  
  .header__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:#CDCDCD;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 100;
  }
  
  .interactive:hover {
    color: #FAFAFA;
  } 
  
  .interactive:active {
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid;
  }

  .active {
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid;
  }

  .not-only {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }

  .not-only__img {
    display: inline-flex;
  }

  .not-only__text {
    display: flex;
    flex-direction: column;;
    width: 465px;
    padding-top: 163px;
  }

  .not-only__title {
    padding-bottom: 42px;
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    width: 310px;
    line-height: 130%;
    letter-spacing: 0.04em;
  }

  .not-only__desc {
    padding-bottom: 42px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: #CDCDCD;
    width: 465px;
    line-height: 160%;
  }

  .not-only__button {
    width: 207px;
    height: 52px;
    left: 0px;
  
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #292929;
    line-height: 130%;
    letter-spacing: 0.09em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #F1CDB3;
    border-radius: 100px;
  }

  .not-only__button:hover{
    background: #FDDCC4;
  }


  /*Header styles end */


  /*About styles start*/

  .about {
    display: flex;
    justify-content: space-between;
    padding: 80px 215px 88px 215px;
  }

  .about__text {
      width: 430px;
  }

  .about__title {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
    line-height: 127%;
    letter-spacing: 0.09em;
    width: 370px;
    padding-bottom: 25px;
    padding-top: 15px;
  }

  .about__desc {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: #4C4C4C;
    line-height: 160%;
    padding-bottom: 25px;
  }

  /*About styles end*/

  /*Friends styles start*/

  .grey-background {
    background-color: #F6F6F6;
  }

  .friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;
  }

  .friends__title {
    font-family: 'Tinos', serif;
    font-size: 35px;
    color: #545454;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 130%;
    padding: 0 400px 60px 400px;   
    text-align: center;
    letter-spacing: 0.09em;
  }

  .friends__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    width: 1200px;
  }

  .friends__cards {
    display: flex;
    width: 990px;
    justify-content: space-between;
  }

  .friends__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    align-items: center;
    background-color: #FAFAFA;
  }

  .friends__card:hover .friends__card--img{
    background-color: #F6F6F6;
  }

  .friends__card--name {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70%;
    color: #545454;
    padding: 31px 0px;
    letter-spacing: 0.09em;
  }

  .friends__card--button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;

    width: 187px;
    height: 52px;
    
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;

    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.08em;
    color: #292929;  
    text-decoration: none;
    line-height: 130%;
    
    margin-bottom: 30px;
  }

  .friends__card--button:hover{
    background: #FDDCC4;
    border-color: #FDDCC4;
  }

  .friends__button {
    width: 261px;
    height: 52px;
  
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #292929;
    line-height: 130%;
    letter-spacing: 0.09em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
  }

  .friends__button:hover {
    background: #FDDCC4;
  }

  .friends__slider--circle {
    width: 50px;
    height: 50px;
    border: 1px solid #666666;
    border-radius: 50%;
    text-align: center;
    transition: color 0.3s;
      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
  }

  .friends__slider--circle:hover {
    background: #FDDCC4;
    border-color: #FDDCC4;
  }

  .friends__slider--circle:disabled {
    border-color: #CDCDCD;
  }

  .friends__slider--arrow {
    color: #292929;
    cursor: pointer;
    transition: 0.6s ease;
    transform: rotate(-180deg);
  }

  .friends__slider--arrow--right {
    color: #292929;
    cursor: pointer;
    transition: 0.6s ease;
  }

  /*Friends styles end*/

  /*Help styles start*/

  .help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;
  }

  .help__title {
    font-family: 'Tinos', serif;
    font-size: 35px;
    color: #545454;
    font-weight: 400;
    letter-spacing: 0.09em;
    line-height: 135%;
    padding-bottom: 60px;   
    text-align: center;
  }

  .help__cards--1 {
    display: flex;
    justify-content: space-between;
    width: 1026px;
    margin-bottom: 55px;
  }

  .help__cards--2 {
    display: flex;
    justify-content: space-between;
    width: 858px;
    /* padding: 0px 171px; */
  }

  .help__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }

  .help__card--desc {
    margin-top: 21px;
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0.09em;
    color: #545454;
  }

  /*Help styles end*/

  /*In-addition styles start*/
  .in-addition {
    display: flex;
    justify-content: space-between;
    padding: 80px 182px 100px 182px;
  }

  .in-addition__title {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
    line-height: 127%;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }

  .in-addition__img {
    padding-top: 10px;
    margin-right: 30px;
  }

  .in-addition__desc {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    line-height: 130%;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }

  .in-addition__card {
    width: 349px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    background: #F1CDB3;
    border-radius: 9px;

    padding: 8px 13px;
  }

  .in-addition__card:hover {
    background: #FDDCC4;
  }

  .in-addition__card--number {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
    line-height: 135%;
    letter-spacing: 0.09em;
    margin-left: 15px;

    text-decoration: none;
  }

  .in-addition__desc--italic {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;    
    color: #B2B2B2;
  }


  /*In-addition styles end*/

  .footer {
      padding: 40px 40px 0px 40px;
      display: flex;
      justify-content: space-between;
  }

  .footer__img {
    display: inline-flex;
  }

  .footer__title--1 {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    line-height: 126%;
    letter-spacing: 0.105em;
    margin-bottom: 40px;
  }

  .footer__title--2 {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
    line-height: 126%;
    letter-spacing: 0.105em;
    margin-bottom: 34px;
  }

  .footer__text--1 {
      margin-right: 160px;
      margin-top: 16px;
      width: 278px;
  }

  .footer__text--2 {
    margin-right: 160px;
    margin-top: 16px;
    width: 302px;
}

  .footer__link--1 {
      display: flex;
      margin-bottom: 40px;
      text-decoration: none;
      align-items: center;
  }

  .footer__link--2 {
    display: flex;
    margin-bottom: 32px;
    text-decoration: none;
    align-items: center;
}

  .footer__link--text {
    font-family: 'Tinos', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #F1CDB3;
    line-height: 113%;
    letter-spacing: 0.105em;
    margin-left: 20px;
  }





